.spinner-button {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* RESPONSIVENESS */

/* Extra small devices (portrait phones) */
@media (max-width: 575.98px) {
.addCourseDiv{
    flex-direction: column;
}
.thumbnailOrPriceDiv{
    flex-direction: column;
justify-content: start!important;
align-items: start!important;
}
.courseThumbDiv{
    margin-top: 20px;
}
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
.addCourseDiv{
    flex-direction: column;
}
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
.addCourseDiv{
    flex-direction: column;
}
}
