.spinner-button {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* RESPONSIVENESS */

/* Extra small devices (portrait phones) */
@media (max-width: 575.98px) {
.studentsEnrolledDiv{
    margin: 0;
    padding: 0;
   
}
.studentsEnrolledTable{
    margin: 0;
    padding: 0;
   
}

}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
.studentsEnrolledDiv{
    .studentsEnrolledDiv{
    margin: 0;
    padding: 0;
   
}
.studentsEnrolledTable{
    margin: 0;
    padding: 0;
   
}
}
}
