





/* RESPONSIVENESS */

/* Extra small devices (portrait phones) */
@media (max-width: 575.98px) {
  .heroSection_lg{
    display:none;
  }
  .heroSection_sm{
    display:block;
  }
}

/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* styles here */
    .heroSection_lg{
    display:none;
  }
  .heroSection_sm{
    display:block;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .heroSection_lg{
    display:block;
  }
  .heroSection_sm{
    display:none;
  }
}

/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
   .heroSection_lg{
    display:block;
  }
  .heroSection_sm{
    display:none;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .heroSection_lg{
    display:block;
  }
  .heroSection_sm{
    display:none;
  }
}

/* Extra extra large devices (4K, ultrawide) */
@media (min-width: 1400px) {
  .heroSection_lg{
    display:block;
  }
  .heroSection_sm{
    display:none;
  }
}
